# .htaccess to block access to sensitive files
<Files .env>
    Order allow,deny
    Deny from all
</Files>

<FilesMatch "^vendor/(.*)">
    Order allow,deny
    Deny from all
</FilesMatch>


<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ignore the error pages for the specified URL
    RewriteCond %{REQUEST_URI} !^/agree [NC]

    # Remove .php extension
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^/]+)/?$ $1.php [L]

    # Redirect requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]

    # Cache static assets and PDF files for 1 month
    <FilesMatch "\.(pdf|css|js)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
</IfModule>
