.output {
    /* white-space: pre-wrap; */
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    height: 100%;
}
.code-container {
    background: #2d2d2d;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
.form-group textarea {
    height: calc(100% - 40px);
    width: 100%;
}
.card-body {
    height: 100%;
}
.card-header h2 {
    margin: 0;
}